[submodule "assignment-autotest"]
	path = assignment-autotest
	url = https://github.com/cu-ecen-aeld/assignment-autotest.git
[submodule "aesd-assignments"]
	path = aesd-assignments
	url = https://github.com/cu-ecen-aeld/aesd-assignments.git
